<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="ConnectionString" connectionString="data source=mvserver.tapmobi.in;initial catalog=ScriptGenerator;User ID=sa;Password=mysql5527;Convert Zero Datetime=True; Allow Zero Datetime=True;default command timeout=0" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>

  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>
  
  <system.web>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="~/Default.aspx" defaultUrl="~/App/Default.aspx"></forms>
    </authentication>
    <pages buffer="true" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="RemoteOnly" defaultRedirect="Error.html" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="Error.html" />
      <error statusCode="403" redirect="Error.html" />
      <error statusCode="500" redirect="Error.html" />
    </customErrors>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="Error.html" responseMode="File" />
      <remove statusCode="500" />
      <error statusCode="500" path="Error.html" responseMode="File" />
      <remove statusCode="403" />
      <error statusCode="403" path="Error.html" responseMode="File" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <modules></modules>
    <handlers></handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>